
body {
    background-color: #fbfbfe;
}

h1 {
    color: white;
    font-family: Roboto Mono, monospace;
    white-space: nowrap;
    font-size: 32px;
}

h2 {
    color: white;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
    white-space: nowrap;
}

h3 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Roboto Mono, monospace;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto Mono, monospace;
    color: grey;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto Mono, monospace;
    color: #003791;
    margin-bottom: 1px !important;
}

p {
    margin-bottom: 1px !important;
}

table {
    font-family: Roboto Mono, monospace;
    white-space: nowrap;
}

.personal-info-name {
    color: #c0c0c0c7;
    text-transform: uppercase;
    margin-bottom: 10px !important;
    width: 30%;
    padding-right: 5px;
    font-weight: bold;
}

.personal-info-val {
    color: white;
    margin-bottom: 10px !important;
    width: 100%;
    padding-left: 20px;
}

.section-row {
    margin-left: 20px;
    margin-right: 20px;
}

.separator-row {
    height: 30px;
}

.temp-info-content {
    /* margin-bottom: 30px; */
}

.temp-info-main {
    margin-bottom: 10px;
}

.temp-info-subtitle {
    font-size: 14px;
}

.temp-info-date {
    font-size: 14px;
    color: grey;
    font-family: Roboto Mono, monospace;
}

.temp-info-description {
    font-size: 18px;
}

.timeline-step {
    padding: 0 !important;
    width: 5px;
}

.timeline-circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    width: 12px;
    height: 12px;
    border: 2px solid #003791;
    margin-left: 15px;
    background-color: #fbfbfe;
}

.timeline-vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 20px;
    border-left: 2px solid #003791 !important;
}

.personal-info-section {
    background-color: #041433;
    height: 400px;
    width: 100%;
    margin-bottom: 80px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.personal-info-section-row {
    margin-top: 50px;
    width: 100%;
}

.photo-col {
    margin-top: 50px;
}

.personal-img {
    border-radius: 3%;
}

.personal-info-details-name-col {
    padding-left: 0 !important;
}

.personal-info-col {
    margin-top: 70px;
    margin-left: 50px;
}

.personal-info-details-container {
    margin-top: 20px;
}

.personal-info-buttons-row {
    margin-top: 25px;
}

.custom-btn {
    border-color: white !important;
    border-radius: 0;
    color: white;
}

#download-btn {
    width: 100px;
    margin-right: 20px;
}

#download-btn:hover::before {
  content: "" !important;
}

#download-btn:hover::after {
  content: "PDF" !important;
}

i.fab {
    margin-right: 5px;
}
