
body {
    background-color: #fbfbfe;
}

h1 {
    color: white;
    font-family: Roboto Mono, monospace;
    font-size: 32px;
}

h2 {
    color: white;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
}

h3 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Roboto Mono, monospace;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto Mono, monospace;
    color: grey;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto Mono, monospace;
    color: #003791;
    margin-bottom: 1px !important;
}

p {
    margin-bottom: 1px !important;
}

table {
    font-family: Roboto Mono, monospace;
}

.personal-info-name {
    color: #c0c0c0c7;
    text-transform: uppercase;
    margin-bottom: 10px !important;
    width: 30%;
    padding-right: 5px;
    font-weight: bold;
}

.personal-info-val {
    color: white;
    margin-bottom: 10px !important;
    width: 100%;
    padding-left: 20px;
}

.section-row {
    margin-left: 20px;
    margin-right: 20px;
}

.separator-row {
    height: 50px;
}

.separator-temp-content {
    height: 30px;
}

.temp-info-content {
    border-left: 2px solid #003791;
}

.temp-info-main {
    //margin-bottom: 10px;
}

.temp-info-subtitle {
    font-size: 14px;
}

.temp-info-date {
    font-size: 14px;
    color: grey;
    font-family: Roboto Mono, monospace;
}

p > span.text-description {
    padding-top: 10px;
}

.text-description {
    margin-top: 100px;
    font-size: 17px;
}

.timeline-step {
    padding: 0 !important;
    width: 5px;
}

.timeline-circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #003791;
    margin-left: 15px;
    background-color: #fbfbfe;
    left: -24px;
}

.personal-info-section {
    background-image: linear-gradient(to right, #041433, grey);
    width: 100%;
    margin-bottom: 80px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 30px;
}

.personal-info-section-row {
    width: 100%;
}

.photo-col {
    margin-top: 50px;
    width: 50%;
    text-align: right;
}

.photo-col > img {
    width: 100%;
    max-width: 250px;
    max-height: 280px;
}

.personal-img {
    border-radius: 3%;
}

.personal-info-details-name-col {
    padding-left: 0 !important;
}

.personal-info-col {
    margin-top: 70px;
    margin-left: 50px;
}

.personal-info-details-container {
    margin-top: 20px;
}

.personal-info-buttons-row {
    margin-top: 25px;
}

.custom-btn {
    border-color: white !important;
    border-radius: 0;
    color: white;
}

#download-btn {
    width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#download-btn:hover::before {
  content: "" !important;
}

#download-btn:hover {
    box-shadow: 0 0 10px grey;
}

#download-btn:hover::after {
  //content: "PDF" !important;
}

i.fab {
    margin-right: 10px;
}

.social-networks {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill-container {
  width: 100%;
  background-color: #ddd;
  height: 10px;
  margin-bottom: 20px;
}

.certification-container {
    text-align: center;
}

.subtitle-mini {
    font-family: Inconsolata, monospace;
}

.skill-row {
    margin-right: 30px;
}

.skills-col {
    padding-right: 50px;
}

.language-mark-filled {
    color: #003791;
}

.language-mark-empty {
    color: grey;
}

.language-name {
    padding-right: 40px;
    padding-bottom: 10px;
}

.language-mark {
    padding-bottom: 10px;
}

.contact-container {
    background-image: linear-gradient(to right, #041433, grey);
    width: 100%;
    margin-top: 60px;
    padding-bottom: 100px;
}

.contact-field-container {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"] {
    background: transparent;
    border: white 1px solid;
}

input[type="text"]:focus, input[type="email"]:focus {
    background: transparent;
    color: white;
    box-shadow: 0 0 15px grey;
    border-color: white;
}

textarea {
    background: transparent;
    border-radius: 2%;
    width: 100%;
    color: white;
    padding: 10px;
    resize: both;
    border: white 1px solid;
}

textarea:focus {
    background: transparent;
    padding: 10px;
    border-radius: 2%;
    width: 100%;
    box-shadow: 0 0 10px grey;
    border-color: white;
    outline-width: 0;
}

#personal-info-contact {
    margin-top: 30px;
}

#personal-info-contact td {
    padding-top: 10px;
}

#send-message-btn {
    width: 100%;
    border-radius: 2%;
}

#send-message-btn:hover {
    width: 100%;
    border-radius: 3%;
    box-shadow: 0 0 15px grey;
}

.page-footer {
    background-image: linear-gradient(to right, #041433, grey);
    color: white;
    font-family: Inconsolata, monospace;
}

.contact-form-disclaimer {
    margin-top: 10px;
    color: white;
    font-size: 12px;
}

.portfolio-section-btn {
    color: #949191;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 35px;
    cursor: pointer;
}

.portfolio-section-btn:hover {
    color: #003791;
    text-decoration: none;
}

.portfolio-active-section {
    color: #003791;
}

.portfolio-best-section-icon {
    color: #ffa710;
    width: 10px;
    font-size: 14px;
}

.certifications-row {
    margin-bottom: 20px;
}

.tags {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}
